.registration-form-container {
    max-width: 800px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin: 5rem auto 2rem auto;
    background-color: #fff8e1;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form-container h2 {
    color: #821131;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .image-preview {
    margin-top: 1rem;
    text-align: center;
  }
  
  .image-preview img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    border: 2px solid #ccc;
    margin-bottom: 0.5rem;
  }
  
  .remove-image-btn {
    text-align: center;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-image-btn:hover {
    background-color: #c0392b;
  }
  
  
  .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .form-group span {
    font-weight: 400;
    font-size: 0.9rem;
    color: #555;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .guest-details-block {
    background-color: #fbe9e7;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .guest-details-block h4 {
    margin-bottom: 1rem;
    color: #821131;
  }

  .radio-group {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
  }
  
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .submit-btn,
  .back-btn {
    width: 40%;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .submit-btn {
    background-color: #821131;
    color: white;
  }
  
  .back-btn {
    background-color: #ccc;
    color: #333;
  }
  
  